# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Database
*.db
*.sqlite3

# Node
node_modules/

# Build outputs
dist/
build/

# VS Code
.vscode/

# Logs
*.log